* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 980px;
    margin: 0 auto;
}

/* fix */
header {
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    background-color:white;
    text-transform: uppercase;
}

.title {
    color: #AF2D23;
    font-weight: 900;
    font-size: 14px;
    font-weight: 900px;
    font-family: Montserrat, sans-serif;
}

.title2 {
    color: #AF2D23;
    font-weight: 900;
    font-size: 19px;
    margin-bottom: 8px;
    font-family: Montserrat, sans-serif;
}

.title3 {
    color: blanchedalmond;
    font-weight: 900;
    font-size: 13px;
}

.name {
    display: grid;
    gap: 0px;
    text-align: center;
}

/*end  fix */

header img {
    width: 65px;
    object-fit: cover;
    padding-top: 5px;
    padding-left: 30px;
}

nav {
    height: 35px;
    background:#AF2D23;
    margin-bottom: 6px;
}

nav .menu>ul {
    list-style: none;
}

nav .menu>ul>li {
    float: left;
    line-height: 35px;
    padding: 0 15px;
}

nav .menu>ul>li>a {
    color: azure;
    font-size: 15px;
    text-decoration: none;
}

nav.menu>ul>li>a:hover {
    color: skyblue;
    font-weight: bolder;
}

nav .search {
    line-height: 35px;
    float:right;
    margin-right: 25px;
}

article h3 {
    text-align: center;
    padding: 15px 0;
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

article .new_list .new_item {
    width: 28%;
    padding: 12px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 4%;
}
footer{
 height: 150px;
 background:#AF2D23;
 line-height:40px;
 text-align:center;
 color:black;
 font-size:18px;
 font-weight:bold;
 font-family:Montserrat, sans-serif;
}

#fix {
    margin-right: 0;
}